name: Build libcef Dev Tool

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    name: Build on Windows
    runs-on: windows-2022

    strategy:
      matrix:
        platform: [x86, x64]

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1.1

    - name: Build with MSBuild
      run: |
        if ("${{ matrix.platform }}" -eq "x86") {
          msbuild libcef_dev_tool.sln /p:Configuration=Release /p:Platform=Win32 /m
        } else {
          msbuild libcef_dev_tool.sln /p:Configuration=Release /p:Platform=x64 /m
        }

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: libcef-dev-tool-${{ matrix.platform }}
        path: bin/Release/**/*